html{
    font-size: 62.5%;
}
.header {
    margin: 20px;
    
}

.header--icon {
    color: var(--brand-color);
    font-size: 4rem;
}



.main-login {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.login-container {
    width: 90%;
    margin: 0 auto;
}

.login-title-container {
    padding-top: 20px;
    font-size: 3rem;
}

.login-title-container h2 {
    padding-top: 50px;
    font-size: 3rem;
}

.login-button-container {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.login-button {
height: 40px;
font-size: 1.4rem;
width: 100%;
margin-bottom: 10px;
justify-self: center;
border-radius: 20px;
background-color: #ffffff;
border: 1px solid #dadce0;
display: flex;
justify-content: center;
align-items: center;
}

.login-button span{
    padding-right: 10px;
    font-size: 2rem;
}

.button__white{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 20px;
}

.button__blue {
    background-color: #1d9bf0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 20px;
}

.Sing-in--container{
    padding-top: 50px;
}

.Sing-in--container h3 {
    font-size: 1.8rem;
    padding-bottom: 20px;
}

.button__white-blue {
    
    color: #1d9bf0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 20px;
}

.twitter-background {
    margin-top: 40px;
    background-image: url('../image/backtwitter.png');
    width: 100%;
    min-width: 320px;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    
}

.twitter-background span {
    font-size: 30rem;
    color: #ffffff;
    
}